NEXT_PUBLIC_POLL_INTERVAL_MS=5000
NEXT_PUBLIC_POLL_TIMEOUT_MS=4000
NEXT_PUBLIC_ROLLING_WINDOW_SIZE=120
NEXT_PUBLIC_EMA_ALPHA=0.25
NEXT_PUBLIC_PULSE_THRESHOLD_PERCENT=0.15
NEXT_PUBLIC_ANOMALY_CLAMP_PERCENT=5
NEXT_PUBLIC_WORKER_INTERPOLATION_TICK_MS=100
NEXT_PUBLIC_BUILD_VERSION=dev
